langchain-google-genai
langchain
langchain_community
huggingface_hub
transformers
accelerate
google-generativeai
fuzzywuzzy
duckduckgo-search
sentence-transformers
pypdf
chromadb
faiss-cpu
pyngrok
fastapi
uvicorn
ultralytics
opencv-python-headless
bitsandbytes
opencv-python-headless
